* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: #1f2937;
}

.upper-items {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.upper-items h3 {
  color: #f9faf8;
  font-size: 24px;
}
.upper-items a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.upper-items ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.bottom-items {
  display: flex;
  justify-content: center;
  gap: 290px;
  padding-bottom: 130px;
}
.bottom-items-text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  max-width: 350px;
}
.bottom-items-text p {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 450px;
  padding-bottom: 10px;
}
.bottom-items button {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
}

.main h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 20px;
}

.image-slots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 50px;
}
.image-slot-1,
.image-slot-2,
.image-slot-3,
.image-slot-4 {
  width: 150px;
  height: 150px;
  color: white;
  border: 3px solid #3882f6;
  border-radius: 10px;
  display: flex;
  color: black;
}

.image-slot-1 p,
.image-slot-2 p,
.image-slot-3 p,
.image-slot-4 p {
  padding-top: 160px;
  max-width: 200px;
}

.quote {
  background-color: #e5e7eb;
  margin-top: 150px;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote h3 {
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  max-width: 800px;
}
.quote h4 {
  padding-left: 620px;
}

.sign-up-class {
  background-color: white;
  margin: auto 450px;
  padding: 70px;
}

.sign-up-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  height: 100px;
  border-radius: 7px;
}
.sign-up-text {
  color: #f9faf8;
}
.sign-up-button {
  color: white;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 6px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 25px;
  font-weight: 300;
}
